## Part 1: Importing, examining, and updating values in a dataset

In [1]:
import pandas as pd

**Use the `.read_csv()` method to import the file `libraries.csv` from the `data` folder, assigning the result to `df`:**

In [24]:
cd /Users/senhintse/Desktop/Apprenticeship/Week1/the-data-science-toolbox/05-introduction-to-pandas/data/

/Users/senhintse/Desktop/Apprenticeship/Week1/the-data-science-toolbox/05-introduction-to-pandas/data

In [29]:
git

NameError: name 'git' is not defined

In [27]:
df = pd.read_csv("libraries.csv")
df

,Library service,Library name,In use 2010,In use 2016,Type of library,Type of closed library,Closed,New building,Replace existing,Notes,Weekly hours open,Weekly hours staffed
0,Barking and Dagenham,Barking,Yes,Yes,LAL,NaN,NaN,NaN,NaN,NaN,72.0,72.0
1,Barking and Dagenham,Castle Green,Yes,No,NaN,XL,Mar-13,NaN,NaN,Closed as a public library 31.3.2013. Secondar...,NaN,NaN
2,Barking and Dagenham,Dagenham,No,Yes,LAL,NaN,NaN,Oct-10,Yes,Replaced Fanshawe and Rectory libraries,56.0,56.0
3,Barking and Dagenham,Fanshawe,Yes,No,NaN,XLR,Sep-10,NaN,NaN,Closed September 2010 replaced by Dagenham Lib...,NaN,NaN
4,Barking and Dagenham,Marks Gate,Yes,Yes,CRL,NaN,NaN,NaN,NaN,Volunteer led with local authority staff suppo...,9.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3272,York,Rowntree Park reading cafe,No,Yes,CL,NaN,NaN,2013,No,NaN,45.5,45.5
3273,York,Strensall,yes,yes,CL,NaN,NaN,NaN,NaN,NaN,19.0,19.0
3274,York,Sycamore House reading cafe,no,yes,CL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3275,York,Tang Hall,yes,yes,CL,NaN,NaN,NaN,NaN,NaN,41.0,41.0
3276,York,York,yes,yes,CL,NaN,NaN,NaN,NaN,Closed for refurb June 2014 to January 2015 fo...,65.0,65.0

**Check that the file has been imported as expected using the `.head()` method to look at the first `3` rows of `df`:**

**Use the `.shape` attribute to find out the number of rows and columns in `df`, assigning the number of rows to `rows` and number of columns to `cols`:**

In [ ]:
print(rows)
print(cols)

**Use the `.describe()` method on `df` to look at some statistics for the numerical data columns:**

Notice that the value for `min` in both columns is negative, which suggests an error in the data.

**You're told that there is an error in the row with index `2233`; use `.loc[]` to have a look at this row:**

**Using `.loc[]`, update the values for both `Weekly hours open` and `Weekly hours staffed` on this row to `57`:**

- Run your code again for the previous question to check that both values on the row at index `2233` have been updated.

The `min` value for these columns (which can be seen again using the `.describe()` method on the DataFrame, or the `.min()` method on a given column), should now be `0`:

In [ ]:
df.loc[:, ['Weekly hours open','Weekly hours staffed']].min()

In [ ]:
df.loc[:, ['Weekly hours open','Weekly hours staffed']].describe()

## Part 2: Filtering, sorting, and modifying DataFrames

**Use the `.set_index()` method to use the values from the `Library name` column as the index of `df`, using the parameter `inplace=True`:**

**Use the `.drop()` method to remove the `Notes` column:**
- remember to use `axis=1`
- use `inplace=True`

**Create a function called `open_2016` which takes two parameters called `data` and `name`, where `data` is a DataFrame (such as `df`) and `name` is a string (such as the values in `Library name`, which we have set as the index), and returns the value in the `In use 2016` column for the row whose index is equal to `name`:**

- use the `.loc[]` method

In [ ]:
open_2016(df, 'Barking')

**Use the `.value_counts()` method on `df['In use 2010']` to see what different values there are in that column:**

In [ ]:
df['In use 2010'].value_counts()

**Create a function called `is_open()`, which take a single value and returns a boolean value as follows:**
- `True` if the value equals `'yes'` or `'Yes'`
- `False` for any other value

In [ ]:
is_open('No'), is_open('yes')

**Use the `.apply()` method with your `is_open()` function and each of the columns `In use 2010` and `In use 2016`, to create new columns called `open_2010` and `open_2016` respectively, each containing Boolean values returned by the function:**

In [ ]:
df[['open_2010', 'open_2016']].dtypes

In [ ]:
df['open_2010'].value_counts(), df['open_2016'].value_counts()

**Create a new column in `df` called `open_both`, which contains a Boolean `True` for entries where both `open_2010` and `open_2016` are `True`:**

In [ ]:
df['open_both'].value_counts()

**Assign to `df_open` a DataFrame containing only entries where `open_both == True`:**
- use the `.copy()` method so that `df_open` can be subsequently modified without affecting `df`

In [ ]:
len(df_open) == df['open_both'].value_counts()[True]

**Calculate the `.mean()` of the values in the `Weekly hours open` column:**

**Calculate the percentage of entries in `df_open` where `['Weekly hours open'] == 0`:**

In [ ]:
len(df_open[df_open['Weekly hours open'] == 0]) / len(df_open) * 100

Converting the zero values to `NaN` values will result those values being excluded from subsequent calculations of, for example, `.mean()`.

These `NaN` values ('Not a Number') represent 'missing data' (of all types, not just numeric) in pandas.

However (like many component of the data structures used by pandas) they originate from the `numpy` package, and thus to create them we need to `import numpy`, by convention `as np`:

In [ ]:
import numpy as np

**`.apply()` a `lambda` function to modify `Weekly hours open` so that `if` the value `== 0` it is updated to `np.nan`, `else` it is unchanged:**

In [ ]:
df_open['Weekly hours open'].value_counts()

Run your earlier code to calculate the `.mean()` of `Weekly hours open` to see if the value is now different.

In [ ]:
hours_in_week = 24 * 7

**Assign to df_errors a DataFrame containing entries from `df_open` where the value for `Weekly hours open` exceeds `hours_in_week`:**
- use the `.copy()` method when creating the new DataFrame

In [ ]:
df_errors

**Use the `sort_values()` method on `df_errors` to look at the entries with the highest values for `Weekly hours open` at the top, i.e. in descending order:**

**Use the `.unique()` series method and the `.tolist()` method to create a list of the unique values for `Library service` in `df_errors`:**