## Part 1: Importing, examining, and updating values in a dataset

In [1]:
import pandas as pd

**Use the `.read_csv()` method to import the file `libraries.csv` from the `data` folder, assigning the result to `df`:**

In [2]:
cd /Users/senhintse/Desktop/Apprenticeship/Week1/the-data-science-toolbox/05-introduction-to-pandas/data/

/Users/senhintse/Desktop/Apprenticeship/Week1/the-data-science-toolbox/05-introduction-to-pandas/data

In [37]:
df = pd.read_csv("libraries.csv")
df

,Library service,Library name,In use 2010,In use 2016,Type of library,Type of closed library,Closed,New building,Replace existing,Notes,Weekly hours open,Weekly hours staffed
0,Barking and Dagenham,Barking,Yes,Yes,LAL,NaN,NaN,NaN,NaN,NaN,72.0,72.0
1,Barking and Dagenham,Castle Green,Yes,No,NaN,XL,Mar-13,NaN,NaN,Closed as a public library 31.3.2013. Secondar...,NaN,NaN
2,Barking and Dagenham,Dagenham,No,Yes,LAL,NaN,NaN,Oct-10,Yes,Replaced Fanshawe and Rectory libraries,56.0,56.0
3,Barking and Dagenham,Fanshawe,Yes,No,NaN,XLR,Sep-10,NaN,NaN,Closed September 2010 replaced by Dagenham Lib...,NaN,NaN
4,Barking and Dagenham,Marks Gate,Yes,Yes,CRL,NaN,NaN,NaN,NaN,Volunteer led with local authority staff suppo...,9.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3272,York,Rowntree Park reading cafe,No,Yes,CL,NaN,NaN,2013,No,NaN,45.5,45.5
3273,York,Strensall,yes,yes,CL,NaN,NaN,NaN,NaN,NaN,19.0,19.0
3274,York,Sycamore House reading cafe,no,yes,CL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3275,York,Tang Hall,yes,yes,CL,NaN,NaN,NaN,NaN,NaN,41.0,41.0
3276,York,York,yes,yes,CL,NaN,NaN,NaN,NaN,Closed for refurb June 2014 to January 2015 fo...,65.0,65.0

**Check that the file has been imported as expected using the `.head()` method to look at the first `3` rows of `df`:**

In [6]:
df.head(3)

,Library service,Library name,In use 2010,In use 2016,Type of library,Type of closed library,Closed,New building,Replace existing,Notes,Weekly hours open,Weekly hours staffed
0,Barking and Dagenham,Barking,Yes,Yes,LAL,NaN,NaN,NaN,NaN,NaN,72.0,72.0
1,Barking and Dagenham,Castle Green,Yes,No,NaN,XL,Mar-13,NaN,NaN,Closed as a public library 31.3.2013. Secondar...,NaN,NaN
2,Barking and Dagenham,Dagenham,No,Yes,LAL,NaN,NaN,Oct-10,Yes,Replaced Fanshawe and Rectory libraries,56.0,56.0

**Use the `.shape` attribute to find out the number of rows and columns in `df`, assigning the number of rows to `rows` and number of columns to `cols`:**

In [12]:
rows = df.shape[0]
cols = df.shape[1]

In [13]:
print(rows)
print(cols)

3277
12

**Use the `.describe()` method on `df` to look at some statistics for the numerical data columns:**

In [14]:
df.describe()

       Weekly hours open  Weekly hours staffed
count        2798.000000           2797.000000
mean           35.734407             35.737529
std            30.952803             30.957897
min           -57.000000            -57.000000
25%            21.000000             21.000000
50%            33.500000             33.500000
75%            45.000000             45.000000
max           674.340000            674.340000

Notice that the value for `min` in both columns is negative, which suggests an error in the data.

**You're told that there is an error in the row with index `2233`; use `.loc[]` to have a look at this row:**

In [17]:
df.loc[[2233]]

,Library service,Library name,In use 2010,In use 2016,Type of library,Type of closed library,Closed,New building,Replace existing,Notes,Weekly hours open,Weekly hours staffed
2233,Oxfordshire,Oxford Central,yes,no,LAL,XLT,2016,NaN,NaN,"Refurbished 2012. Currently, temporarily clos...",-57.0,-57.0

**Using `.loc[]`, update the values for both `Weekly hours open` and `Weekly hours staffed` on this row to `57`:**

In [26]:
df.loc[[2233],'Weekly hours open'] = 57
df.loc[[2233],'Weekly hours staffed'] = 57
df.loc[[2233]]

,Library service,Library name,In use 2010,In use 2016,Type of library,Type of closed library,Closed,New building,Replace existing,Notes,Weekly hours open,Weekly hours staffed
2233,Oxfordshire,Oxford Central,yes,no,LAL,XLT,2016,NaN,NaN,"Refurbished 2012. Currently, temporarily clos...",57.0,57.0

- Run your code again for the previous question to check that both values on the row at index `2233` have been updated.

The `min` value for these columns (which can be seen again using the `.describe()` method on the DataFrame, or the `.min()` method on a given column), should now be `0`:

In [23]:
df.loc[:, ['Weekly hours open','Weekly hours staffed']].min()

Weekly hours open       0.0
Weekly hours staffed    0.0
dtype: float64

In [24]:
df.loc[:, ['Weekly hours open','Weekly hours staffed']].describe()

       Weekly hours open  Weekly hours staffed
count        2798.000000           2797.000000
mean           35.775150             35.778287
std            30.905686             30.910767
min             0.000000              0.000000
25%            21.000000             21.000000
50%            33.500000             33.500000
75%            45.000000             45.000000
max           674.340000            674.340000

## Part 2: Filtering, sorting, and modifying DataFrames

**Use the `.set_index()` method to use the values from the `Library name` column as the index of `df`, using the parameter `inplace=True`:**

In [38]:
df.set_index('Library name',inplace=True)
df

,Library service,In use 2010,In use 2016,Type of library,Type of closed library,Closed,New building,Replace existing,Notes,Weekly hours open,Weekly hours staffed
Library name,,,,,,,,,,,
Barking,Barking and Dagenham,Yes,Yes,LAL,NaN,NaN,NaN,NaN,NaN,72.0,72.0
Castle Green,Barking and Dagenham,Yes,No,NaN,XL,Mar-13,NaN,NaN,Closed as a public library 31.3.2013. Secondar...,NaN,NaN
Dagenham,Barking and Dagenham,No,Yes,LAL,NaN,NaN,Oct-10,Yes,Replaced Fanshawe and Rectory libraries,56.0,56.0
Fanshawe,Barking and Dagenham,Yes,No,NaN,XLR,Sep-10,NaN,NaN,Closed September 2010 replaced by Dagenham Lib...,NaN,NaN
Marks Gate,Barking and Dagenham,Yes,Yes,CRL,NaN,NaN,NaN,NaN,Volunteer led with local authority staff suppo...,9.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...
Rowntree Park reading cafe,York,No,Yes,CL,NaN,NaN,2013,No,NaN,45.5,45.5
Strensall,York,yes,yes,CL,NaN,NaN,NaN,NaN,NaN,19.0,19.0
Sycamore House reading cafe,York,no,yes,CL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tang Hall,York,yes,yes,CL,NaN,NaN,NaN,NaN,NaN,41.0,41.0
York,York,yes,yes,CL,NaN,NaN,NaN,NaN,Closed for refurb June 2014 to January 2015 fo...,65.0,65.0

**Use the `.drop()` method to remove the `Notes` column:**
- remember to use `axis=1`
- use `inplace=True`

In [39]:
df.drop('Notes',inplace = True, axis = 1)
df

,Library service,In use 2010,In use 2016,Type of library,Type of closed library,Closed,New building,Replace existing,Weekly hours open,Weekly hours staffed
Library name,,,,,,,,,,
Barking,Barking and Dagenham,Yes,Yes,LAL,NaN,NaN,NaN,NaN,72.0,72.0
Castle Green,Barking and Dagenham,Yes,No,NaN,XL,Mar-13,NaN,NaN,NaN,NaN
Dagenham,Barking and Dagenham,No,Yes,LAL,NaN,NaN,Oct-10,Yes,56.0,56.0
Fanshawe,Barking and Dagenham,Yes,No,NaN,XLR,Sep-10,NaN,NaN,NaN,NaN
Marks Gate,Barking and Dagenham,Yes,Yes,CRL,NaN,NaN,NaN,NaN,9.0,9.0
...,...,...,...,...,...,...,...,...,...,...
Rowntree Park reading cafe,York,No,Yes,CL,NaN,NaN,2013,No,45.5,45.5
Strensall,York,yes,yes,CL,NaN,NaN,NaN,NaN,19.0,19.0
Sycamore House reading cafe,York,no,yes,CL,NaN,NaN,NaN,NaN,NaN,NaN
Tang Hall,York,yes,yes,CL,NaN,NaN,NaN,NaN,41.0,41.0
York,York,yes,yes,CL,NaN,NaN,NaN,NaN,65.0,65.0

**Create a function called `open_2016` which takes two parameters called `data` and `name`, where `data` is a DataFrame (such as `df`) and `name` is a string (such as the values in `Library name`, which we have set as the index), and returns the value in the `In use 2016` column for the row whose index is equal to `name`:**

- use the `.loc[]` method

In [40]:
df.reset_index()

,Library name,Library service,In use 2010,In use 2016,Type of library,Type of closed library,Closed,New building,Replace existing,Weekly hours open,Weekly hours staffed
0,Barking,Barking and Dagenham,Yes,Yes,LAL,NaN,NaN,NaN,NaN,72.0,72.0
1,Castle Green,Barking and Dagenham,Yes,No,NaN,XL,Mar-13,NaN,NaN,NaN,NaN
2,Dagenham,Barking and Dagenham,No,Yes,LAL,NaN,NaN,Oct-10,Yes,56.0,56.0
3,Fanshawe,Barking and Dagenham,Yes,No,NaN,XLR,Sep-10,NaN,NaN,NaN,NaN
4,Marks Gate,Barking and Dagenham,Yes,Yes,CRL,NaN,NaN,NaN,NaN,9.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...
3272,Rowntree Park reading cafe,York,No,Yes,CL,NaN,NaN,2013,No,45.5,45.5
3273,Strensall,York,yes,yes,CL,NaN,NaN,NaN,NaN,19.0,19.0
3274,Sycamore House reading cafe,York,no,yes,CL,NaN,NaN,NaN,NaN,NaN,NaN
3275,Tang Hall,York,yes,yes,CL,NaN,NaN,NaN,NaN,41.0,41.0
3276,York,York,yes,yes,CL,NaN,NaN,NaN,NaN,65.0,65.0

In [41]:
def open_2016(data,name):
    df = data.reset_index()
    return df == name

In [42]:
open_2016(df, 'Barking')

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

,Library name,Library service,In use 2010,In use 2016,Type of library,Type of closed library,Closed,New building,Replace existing,Weekly hours open,Weekly hours staffed
0,True,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
3272,False,False,False,False,False,False,False,False,False,False,False
3273,False,False,False,False,False,False,False,False,False,False,False
3274,False,False,False,False,False,False,False,False,False,False,False
3275,False,False,False,False,False,False,False,False,False,False,False
3276,False,False,False,False,False,False,False,False,False,False,False

**Use the `.value_counts()` method on `df['In use 2010']` to see what different values there are in that column:**

In [43]:
df['In use 2010'].value_counts()

yes    2807
Yes     256
no      163
No       49
Name: In use 2010, dtype: int64

**Create a function called `is_open()`, which take a single value and returns a boolean value as follows:**
- `True` if the value equals `'yes'` or `'Yes'`
- `False` for any other value

In [46]:
def is_open(para1):
    return para1 == 'yes' or para1 =='Yes'

In [47]:
is_open('No'), is_open('yes')

(False, True)

**Use the `.apply()` method with your `is_open()` function and each of the columns `In use 2010` and `In use 2016`, to create new columns called `open_2010` and `open_2016` respectively, each containing Boolean values returned by the function:**

In [53]:
# unsure
df['open_2010'] =  df['In use 2010'].apply(is_open)
df['open_2016'] =  df['In use 2016'].apply(is_open)

In [56]:
df[['open_2010', 'open_2016']].dtypes

open_2010    bool
open_2016    bool
dtype: object

In [57]:
df['open_2010'].value_counts(), df['open_2016'].value_counts()

(True     3063
 False     214
 Name: open_2010, dtype: int64,
 True     2763
 False     514
 Name: open_2016, dtype: int64)

**Create a new column in `df` called `open_both`, which contains a Boolean `True` for entries where both `open_2010` and `open_2016` are `True`:**

In [64]:
df['open_both'] = df['open_2010'] & df['open_2016']

In [65]:
df['open_both'].value_counts()

True     2637
False     640
Name: open_both, dtype: int64

**Assign to `df_open` a DataFrame containing only entries where `open_both == True`:**
- use the `.copy()` method so that `df_open` can be subsequently modified without affecting `df`

In [68]:
df_open = df[df['open_both']==True].copy()
df_open

,Library service,In use 2010,In use 2016,Type of library,Type of closed library,Closed,New building,Replace existing,Weekly hours open,Weekly hours staffed,open_2010,open_2016,open_both
Library name,,,,,,,,,,,,,
Barking,Barking and Dagenham,Yes,Yes,LAL,NaN,NaN,NaN,NaN,72.0,72.0,True,True,True
Marks Gate,Barking and Dagenham,Yes,Yes,CRL,NaN,NaN,NaN,NaN,9.0,9.0,True,True,True
Robert Jeyes Community Library,Barking and Dagenham,Yes,Yes,CRL,NaN,NaN,NaN,NaN,14.5,14.5,True,True,True
Thames View,Barking and Dagenham,Yes,Yes,LAL,NaN,NaN,NaN,NaN,30.0,30.0,True,True,True
Valence,Barking and Dagenham,Yes,Yes,LAL,NaN,NaN,NaN,NaN,36.0,36.0,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
New Earswick,York,yes,yes,CL,NaN,NaN,NaN,NaN,35.0,35.0,True,True,True
Poppleton,York,yes,yes,CL,NaN,NaN,NaN,NaN,21.0,21.0,True,True,True
Strensall,York,yes,yes,CL,NaN,NaN,NaN,NaN,19.0,19.0,True,True,True
Tang Hall,York,yes,yes,CL,NaN,NaN,NaN,NaN,41.0,41.0,True,True,True
York,York,yes,yes,CL,NaN,NaN,NaN,NaN,65.0,65.0,True,True,True

In [67]:
len(df_open) == df['open_both'].value_counts()[True]

True

**Calculate the `.mean()` of the values in the `Weekly hours open` column:**

In [75]:
df['Weekly hours open'].mean()

35.73440671908506

**Calculate the percentage of entries in `df_open` where `['Weekly hours open'] == 0`:**

In [70]:
len(df_open[df_open['Weekly hours open'] == 0]) / len(df_open) * 100

2.123625331816458

Converting the zero values to `NaN` values will result those values being excluded from subsequent calculations of, for example, `.mean()`.

These `NaN` values ('Not a Number') represent 'missing data' (of all types, not just numeric) in pandas.

However (like many component of the data structures used by pandas) they originate from the `numpy` package, and thus to create them we need to `import numpy`, by convention `as np`:

In [71]:
import numpy as np

**`.apply()` a `lambda` function to modify `Weekly hours open` so that `if` the value `== 0` it is updated to `np.nan`, `else` it is unchanged:**

In [98]:
df_open['Weekly hours open'].apply(lambda x: np.nan if x == 0 else x )

Library name
Barking                           72.0
Marks Gate                         9.0
Robert Jeyes Community Library    14.5
Thames View                       30.0
Valence                           36.0
                                  ...
New Earswick                      35.0
Poppleton                         21.0
Strensall                         19.0
Tang Hall                         41.0
York                              65.0
Name: Weekly hours open, Length: 2637, dtype: float64

In [73]:
df_open['Weekly hours open'].value_counts()

31.00     62
40.00     61
20.00     60
0.00      56
15.00     53
          ..
26.75      1
69.00      1
214.00     1
120.50     1
148.75     1
Name: Weekly hours open, Length: 193, dtype: int64

Run your earlier code to calculate the `.mean()` of `Weekly hours open` to see if the value is now different.

In [76]:
hours_in_week = 24 * 7

**Assign to df_errors a DataFrame containing entries from `df_open` where the value for `Weekly hours open` exceeds `hours_in_week`:**
- use the `.copy()` method when creating the new DataFrame

In [77]:
df_open

,Library service,In use 2010,In use 2016,Type of library,Type of closed library,Closed,New building,Replace existing,Weekly hours open,Weekly hours staffed,open_2010,open_2016,open_both
Library name,,,,,,,,,,,,,
Barking,Barking and Dagenham,Yes,Yes,LAL,NaN,NaN,NaN,NaN,72.0,72.0,True,True,True
Marks Gate,Barking and Dagenham,Yes,Yes,CRL,NaN,NaN,NaN,NaN,9.0,9.0,True,True,True
Robert Jeyes Community Library,Barking and Dagenham,Yes,Yes,CRL,NaN,NaN,NaN,NaN,14.5,14.5,True,True,True
Thames View,Barking and Dagenham,Yes,Yes,LAL,NaN,NaN,NaN,NaN,30.0,30.0,True,True,True
Valence,Barking and Dagenham,Yes,Yes,LAL,NaN,NaN,NaN,NaN,36.0,36.0,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
New Earswick,York,yes,yes,CL,NaN,NaN,NaN,NaN,35.0,35.0,True,True,True
Poppleton,York,yes,yes,CL,NaN,NaN,NaN,NaN,21.0,21.0,True,True,True
Strensall,York,yes,yes,CL,NaN,NaN,NaN,NaN,19.0,19.0,True,True,True
Tang Hall,York,yes,yes,CL,NaN,NaN,NaN,NaN,41.0,41.0,True,True,True
York,York,yes,yes,CL,NaN,NaN,NaN,NaN,65.0,65.0,True,True,True

In [90]:
con3 = df_open['Weekly hours open']>hours_in_week
df_errors = df_open[con3].copy()

In [89]:
df_errors

,Library service,In use 2010,In use 2016,Type of library,Type of closed library,Closed,New building,Replace existing,Weekly hours open,Weekly hours staffed,open_2010,open_2016,open_both
Library name,,,,,,,,,,,,,
Boscombe Library,Bournemouth,yes,yes,LAL,NaN,NaN,NaN,NaN,187.75,187.75,True,True,True
Bournemouth Library,Bournemouth,yes,yes,LAL,NaN,NaN,NaN,NaN,425.50,425.50,True,True,True
Castlepoint Library,Bournemouth,yes,yes,LAL,NaN,NaN,NaN,NaN,214.00,214.00,True,True,True
Kinson Hub,Bournemouth,yes,yes,LAL,NaN,NaN,NaN,NaN,200.00,200.00,True,True,True
Barrow Library,Cumbria,yes,yes,LAL,NaN,NaN,NaN,NaN,429.00,429.00,True,True,True
Beverley,East Riding of Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,398.50,398.50,True,True,True
Bridlington,East Riding of Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,378.00,378.00,True,True,True
Bridlington North,East Riding of Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,236.50,236.50,True,True,True
Brough Library and Customer Service Centre,East Riding of Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,206.50,206.50,True,True,True
Driffield Library & Customer Service Centre,East Riding of Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,205.00,205.00,True,True,True
Goole,East Riding of Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,327.67,327.67,True,True,True
Hessle Library and Customer Service Centre,East Riding of Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,192.50,192.50,True,True,True
Market Weighton Library and Customer Service Centre,East Riding of Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,204.00,204.00,True,True,True
Pocklington,East Riding of Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,218.50,218.50,True,True,True
Harrogate library,North Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,462.00,462.00,True,True,True
Knaresborough library,North Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,182.00,182.00,True,True,True
Malton library,North Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,200.00,200.00,True,True,True
Northallerton library,North Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,238.00,238.00,True,True,True
Ripon library,North Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,187.00,187.00,True,True,True
Scarborough library,North Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,362.00,362.00,True,True,True
Selby library,North Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,183.00,183.00,True,True,True
Skipton library,North Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,238.00,238.00,True,True,True
Newbury,West Berkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,674.34,674.34,True,True,True

**Use the `sort_values()` method on `df_errors` to look at the entries with the highest values for `Weekly hours open` at the top, i.e. in descending order:**

In [93]:
df_errors.sort_values('Weekly hours open',ascending = False)

,Library service,In use 2010,In use 2016,Type of library,Type of closed library,Closed,New building,Replace existing,Weekly hours open,Weekly hours staffed,open_2010,open_2016,open_both
Library name,,,,,,,,,,,,,
Newbury,West Berkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,674.34,674.34,True,True,True
Harrogate library,North Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,462.00,462.00,True,True,True
Barrow Library,Cumbria,yes,yes,LAL,NaN,NaN,NaN,NaN,429.00,429.00,True,True,True
Bournemouth Library,Bournemouth,yes,yes,LAL,NaN,NaN,NaN,NaN,425.50,425.50,True,True,True
Beverley,East Riding of Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,398.50,398.50,True,True,True
Bridlington,East Riding of Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,378.00,378.00,True,True,True
Scarborough library,North Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,362.00,362.00,True,True,True
Goole,East Riding of Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,327.67,327.67,True,True,True
Skipton library,North Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,238.00,238.00,True,True,True
Northallerton library,North Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,238.00,238.00,True,True,True
Bridlington North,East Riding of Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,236.50,236.50,True,True,True
Pocklington,East Riding of Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,218.50,218.50,True,True,True
Castlepoint Library,Bournemouth,yes,yes,LAL,NaN,NaN,NaN,NaN,214.00,214.00,True,True,True
Brough Library and Customer Service Centre,East Riding of Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,206.50,206.50,True,True,True
Driffield Library & Customer Service Centre,East Riding of Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,205.00,205.00,True,True,True
Market Weighton Library and Customer Service Centre,East Riding of Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,204.00,204.00,True,True,True
Kinson Hub,Bournemouth,yes,yes,LAL,NaN,NaN,NaN,NaN,200.00,200.00,True,True,True
Malton library,North Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,200.00,200.00,True,True,True
Hessle Library and Customer Service Centre,East Riding of Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,192.50,192.50,True,True,True
Boscombe Library,Bournemouth,yes,yes,LAL,NaN,NaN,NaN,NaN,187.75,187.75,True,True,True
Ripon library,North Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,187.00,187.00,True,True,True
Selby library,North Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,183.00,183.00,True,True,True
Knaresborough library,North Yorkshire,yes,yes,LAL,NaN,NaN,NaN,NaN,182.00,182.00,True,True,True

**Use the `.unique()` series method and the `.tolist()` method to create a list of the unique values for `Library service` in `df_errors`:**

In [95]:
df_errors['Library service'].unique().tolist()

['Bournemouth',
 'Cumbria',
 'East Riding of Yorkshire',
 'North Yorkshire',
 'West Berkshire']